<extend name="../Common/home_base" />

<block name="content">
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>团购成功</span>
                <p>{$order_data.game_name}单的团购订单目前已完成了{$order_data.percentage}%,100%会以短信通知您，请耐心等待</p>
                <div class="alert_text">若有疑问，可凭<strong>&nbsp;订单号&nbsp;{$order_data.oid}&nbsp;</strong>咨询客服</div>
            </div>

            <div class="pay_finish_info">
                <h3>充值套餐</h3>
                <p>
                    <label class="finish_key">订单号：</label>
                    <label class="finish_value">{$order_data.oid}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$order_data.game_name}</label>
                </p>
                <p>
                    <label class="finish_key">充值套餐：</label>
                    <label class="finish_value">{$order_data.text}</label>
                </p>
                <p>
                    <label class="finish_key">数 &nbsp;&nbsp; 量：</label>
                    <label class="finish_value">{$order_data.num}</label>
                </p>
            </div>
        </div>
    </div>
</block>