<extend name="../Common/home_base" />

<block name="custom_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/group_buy.css">
    <style>
        .input_field span.error{
            margin-left: 138px;
        }
    </style>
</block>
<block name="extra_js">
    <script type="text/javascript" src="__PUBLIC__/js/global_checker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common/gbzc_lucker_common.js"></script>
    <script>
        $().ready(function(){
            $("#gbac_verify_form").validate(window.gbcz_verify_option);
        });
    </script>
</block>

<block name="content">
    <div class="row_container">
        <div class="orderInfo">
            <div class='attention'>
            <img src="/game_pic/{$rowOrder.pic}" alt="{$rowOrder.game}" width="180" height="180" />
                <h4>【云购说明】</h4>
                <ul>
                    <li>1.每个人次需支付一元</li>
                    <li>2.一个人次一个云购码</li>
                    <li>3.根据云购规则产生一名幸运者</li>
                    <li>4.发送信息通知幸运者</li>
                    <li>5.幸运者填写游戏账号信息</li>
                    <li>6.将对应的商品充值到幸运者账号</li>
                </ul>
            </div>

            <div class="dashed_line"></div>

            <form method="post" action="{$submit_url}" class="gbac_form" id="gbac_verify_form">
                <p class="static_field">
                    <label class="form_key">游&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;戏：</label>
                    <label class="form_value">{$rowOrder.game}</label>
                </p>
                <p class="static_field">
                    <label class="form_key">面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额：</label>
                    <label class="form_value">{$rowOrder.option_text}</label>
                </p>
                <p class="static_field">
                    <label class="form_key">元/人次：</label>
                    <label class="form_value">{$rowOrder.unit_num}</label>
                </p>
                <p class="static_field">
                    <label class="form_key">购&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;买：</label>
                    <label class="form_value">{$rowOrder.payment}人次</label>
                </p>
                <p class="input_field required">
                    <label class="form_info" style="font-size: 16px;">联系方式：</label>
                    <input type="text" name="contact_way" placeholder="请填写您的手机号码">
                </p>
                <br /><br />
                <p class="static_field">
                    <label class="form_key"></label>
                    <span class="sum_text" style="font-size:20px;">您需要支付
                        <label class="important_label">{$rowOrder.payment}</label>&nbsp;元
                    </span>
                </p>
                <br />
                <p>
                    <label class="form_info">&nbsp;</label>
                    <button type="submit" class="button">马上支付</button>
                </p>
            </form>
            <div class='clear'></div>
        </div>
    </div>
</block>
