<extend name="../Common/admin_base" />

<block name="extra_js">
    <script src="__PUBLIC__/js/admin/user_mgr.js"></script>
</block>

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="cz_option_container">
                <div class="add_cz_option">
                    <form class="common_form" action="{:U('Admin/User/admin_list')}" method="post" id="admin_form">
                        <p>添加管理员</p>
                        <li class="required">
                            <label>权限组</label>
                        	<select name='group_id'>
                            	<option value=''>--请选择--</option>
                            	<volist name='group_list' id='group'>
                                	<option value="{$group.id}">{$group.title}</option>
                            	</volist>
                        	</select>
                        </li>
                        <li class="required">
                            <label>用户ID</label>
                            <input type="text" name="user_id"/>
                        </li>
                        <li>
                            <label>&nbsp;</label>
                            <button type="submit">添加</button>
                        </li>
                    </form>
                </div>

                <div class="dotline"></div>
                <div class="table_container">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>编号ID</th>
                            <th>用户ID</th>
                            <th>用户名</th>
                            <th>组名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="admin_list" id="list">
                            <tr>
                                <td>{$list.id}</td>
                                <td>{$list.uid}</td>
                                <td>{$list.username}</td>
                                <td>{$list.title}</td>
                                <td>
                                	<a href="{:U('Admin/User/edit_admin',array('id'=>$list['access_id']))}">编辑</a>
                                    <a href="{:U('Admin/User/admin_del',array('id'=>$list['id']))}" onclick="return confirm('确定删除吗?');">删除</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</block>

<block name="footer">
    <div class="footer">
        <p>
            广州鸿鹄网络科技有限公司
        </p>
    </div>
</block>
