<extend name="../Common/home_base" />

<block name="content">
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>购买成功</span>
                <p>我们将会尽快通知代练师为您代练游戏&nbsp;!</p>
                <div class="alert_text">如有疑问可凭<strong>&nbsp;订单号&nbsp;{$package_order_info.id}&nbsp;</strong>咨询客服</div>
            </div>

            <div class="pay_finish_info">
                <h3>代练套餐</h3>
                <p>
                    <label class="finish_key">订单号：</label>
                    <label class="finish_value">{$package_order_info.id}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$package_order_info.game_name}</label>
                </p>
                <p>
                    <label class="finish_key">套 &nbsp;&nbsp; 餐：</label>
                    <label class="finish_value">{$package_order_info.title}</label>
                </p>
                <p>
                    <label class="finish_key">付款金额：</label>
                    <label class="finish_value">{$package_order_info.real_payment} 元</label>
                </p>
            </div>
        </div>
    </div>
</block>