<extend name="../Common/home_base" />

<block name="custom_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/package.css">
</block>

<block name="extra_js">
    <script>
        $().ready(function(){
            var li = $('.tab_header > li');
            var liLength =li.length;
            var div = $('.tab_body > div');
            for(var i = 0; i < liLength; i++){
                li[i].index = i;

                li[i].onclick = function(){
                    for(var i = 0; i < liLength; i++){
                        if(li[i] && div[i]){
                            li[i].className='';
                            div[i].style.display='none';
                        }
                    }
                    if(div[this.index]){
                        this.className='active';
                        div[this.index].style.display='block';
                    }

                }
            }
        });
    </script>
</block>

<block name="content">
    <div class="row_container">
        <div class="center_content">
                <div class="crumbs_nav">
                    <div class="crumbs_nav_item">
                        <a href="{:U('/')}">首页</a>
                        <i>&gt;</i>
                    </div>
                    <div class="crumbs_nav_item">
                        <a href="{:U('Home/TradeCenter/buy')}">交易中心</a>
                        <i>&gt;</i>
                    </div>
                    <div class="crumbs_nav_item">
                        <a>套餐详情</a>
                        <i></i>
                    </div>
                </div>

                <div class="info_details">
                    <div class="game_pic">
                        <img src="/game_pic/{$package_info.pic}" alt="{$package_info.name}">
                    </div>
                    <form action="{$submit_url}" method="post">
                        <p class="static_field">
                            <label class="form_key">标题：</label>
                            <label>{$package_info.title}</label>
                        </p>
                        <p class="static_field">
                            <label class="form_key">价格：</label>
                            <label>{$package_info.price} 元</label>
                        </p>
                        <p class="static_field">
                            <label class="form_key">区服：</label>
                            <label>{$package_info.qufu}</label>
                        </p>
                        <p class="static_field">
                            <label class="form_key">完成天数：</label>
                            <label>{$package_info.spend_day} 天</label>
                        </p>
                        <p class="static_field">
                            <label class="form_key">保证金额：</label>
                            <label>{$package_info.security_price} 元</label>
                        </p>
                        <if condition="$flag eq 1 ">    
                            <else /> 
                                <p class="input_field">
                                    <label class="form_info">&nbsp;</label>
                                    <button class="is_bought" type="submit">我要购买</button>
                                </p>
                        </if>
                        
                    </form>
                </div>

                <div class="tab_header">
                    <li class="active">详情</li>
                    <li>常见问题</li>
                </div>
                <div class="tab_body">
                    <div class="tab_content cur">
                        系统及平台：{$package_info.platform}<!--&nbsp;{$package_info.operator_name}-->
                        <br><br>
                        是否需要提供充值支持：{$package_info.cz_provided}
                        <br><br>
                        详细信息：{$package_info.details}
                        
                    </div>
                    <div class="tab_content instructions_div">
                        <ul>
                            <li><a href="{:U('Home/Help/index',array('id'=>23))}" target="__blank">购买了套餐后不想要怎么办？</a></li>
                            <li><a href="{:U('Home/Help/index',array('id'=>23))}" target="__blank">代练师如果接单后无法完成怎么办？</a></li>
                            <li><a href="{:U('Home/Help/index',array('id'=>23))}" target="__blank">怎么样保证账号的安全？</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</block>