<extend name="../Common/home_base" />

<block name="content">
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>发布成功</span>
                <p>我们将为尽快为您审核，通过后第一时间可供玩家购买&nbsp;!</p>
                <div class="alert_text">若有疑问，可凭<strong>&nbsp;订单号&nbsp;{$package_order_info.id}&nbsp;</strong>咨询客服</div>
            </div>

            <div class="pay_finish_info">
                <h3>代练套餐</h3>
                <p>
                    <label class="finish_key">订单号：</label>
                    <label class="finish_value">{$package_order_info.id}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$package_order_info.game_name}</label>
                </p>
                <p>
                    <label class="finish_key">套 &nbsp;&nbsp; 餐：</label>
                    <label class="finish_value">{$package_order_info.title}</label>
                </p>
                <p>
                    <label class="finish_key">已付保证金：</label>
                    <label class="finish_value">{$package_order_info.real_payment}</label>
                </p>
            </div>
        </div>
    </div>
</block>