<extend name="../Common/admin_base" />

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="game_strategy_container">
                <form action="{$submit_url}" method="post" class="common_form container">
                    <p>安卓首充号编辑</p>
                    <li class="static_field">
                        <label class="form_key">游戏：</label>
                        <label class="form_value">{$scAndroidRes.name}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">平台：</label>
                        <label class="form_value">{$scAndroidRes.operator_name}</label>
                    </li>
                    <li class="required">
                        <label>标题：</label>
                        <input type="text" name="details" value="{$scAndroidRes.details}" />
                     </li>
                    <li class="required">
                        <label>原价：</label>
                        <input type="text" name="price" value="{$scAndroidRes.price}" />
                     </li>
                    <li class="required">
                        <label>折扣：</label>
                        <input type="text" name="discount" value="{$scAndroidRes.discount}" />
                     </li>
                    <li class="required">
                        <label>总数量：</label>
                        <input type="text" name="amount" value="{$scAndroidRes.amount}" />
                     </li>
                     <li class="required">
                        <label>销售数量：</label>
                        <input type="text" name="sell_amount"value="{$scAndroidRes.sell_amount}" />
                     </li>
                     <li>
                         <label>&nbsp;</label>
                         <button type="submit">修改</button>
                     </li>
                </form>
            </div>
        </div>
    </div>
</block>