*{
    margin:0;
    padding:0;
    font-family: "Microsoft Yahei";
}
.body{
    width:750px;
    height:500px;
    margin:150px auto;
    background:url(../img/404.png) no-repeat;
    .error_404{
        width:300px;
        margin-left:300px;
        margin-top:95px;
        font-size:80px;
        color:#E58D2C;
        font-weight:bold;
    }
    .error_content{
        margin-left:240px;
        p{
            font-size:20px;
            color:#D75642;
            font-weight:bold;
        }
        span{
            display:block;
            margin-top:10px;
            color:#B7B7B7;
        }
        ul{
            margin-left:30px;
            margin-top:3px;
            color:#B7B7B7;
            li{
                padding:3px;
            }
        }

        .error_href{
            margin-top:10px;
            a,b{
                color:#888989;
                font-weight: bold;
            }
            a:hover{
                color:#E58D2C;
            }
        }
    }
}