ul{
    margin-top:10px;
    height:25px;
    li{
        float:left;
        width:180px;
        vertical-align: middle;
        b{
            color:#0190f7;
            font-size:18px;
        }
    }
}