<div class="footer_container">
    <div class="row_container">
        <div class="part_margin footer">
            <div class="footer_top">
                <ul>
                    <li class="item_1">
                        <span>超时无货赔付</span>
                    </li>
                    <li class="item_2">
                        <span>官方正品实惠</span>
                    </li>
                    <li class="item_3">
                        <span>下单闪电快充</span>
                    </li>
                    <li class="item_4">
                        <span>7x24小时客服在线</span>
                    </li>
                </ul>
            </div>

            <div class="left_computer">
                <img src="__PUBLIC__/img/footer/computer.png" alt="computer" width="110px" height="77px" />
            </div>
            <div class="footer_details">
                <a href="{:U('Home/Help/index', array('id'=>7))}">关于我们</a>
                <span>|</span>
                <a href="{:U('Home/Help/index', array('id'=>9))}">商务合作</a>
                <span>|</span>
                <a href="{:U('Index/web_map')}">网站地图</a>
                <span>|</span>
                <a href="{:U('Help/index', array('id'=>4))}">免责声明</a>
                <span>|</span>
                <a  href="tencent://message/?uin=4008062400">在线咨询</a>
                <span>|</span>
                <a href="{:U('Suggest/suggest')}">投诉与建议</a>
            </div>
            <div class="footer_introduce">
                    <span class="introduce">
                        广州鸿鹄网络科技有限公司 &nbsp; 版权所有Copyright © 2013 www.honghonghu.com 粤ICP备14011973号
                    </span>
            </div>
            <div class="footer_safe">
                <a href="http://www.cyberpolice.cn/wfjb/" target="_blank">
                    <img class="img_border" src="__PUBLIC__/img/footer/01.jpg" alt="网络警察提醒您" title="网络警察提醒您" width="126px" height="47px"/>
                </a>
                <div style="display:inline-block;margin-right:auto;margin-left:auto;text-align: center;">
                    <script src="http://kxlogo.knet.cn/seallogo.dll?sn=e14041844010048148ul1a000000&size=0"></script>
                </div>
                <a>
                    <img src="__PUBLIC__/img/footer/03.png" alt="安全联盟实名验证" title="安全联盟实名验证" width="126px" height="47px"  />
                </a>
                <a>
                    <img src="__PUBLIC__/img/footer/04.jpg" alt="360可信网站" title="360可信网站" width="124px" height="47px"  />
                </a>
                <a>
                    <img class="img_border" src="__PUBLIC__/img/footer/05.jpg" alt="中国文化部" title="中国文化部" width="126px" height="47px"  />
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1253269026'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D1253269026%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>
</div>
