<extend name="../Common/credits_store_base" />

<block name="custom_css">
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/css/credits_store.css">
</block>

<block name="content">
    <div class="row_container">
    	<div class="center_content">
       		<p class="finish_title">
           		<img src="__PUBLIC__/img/finish.png" width="48px" height="44px">
         	  	尊敬的用户，您已兑换成功^_^
       		</p>
       		<p class="p_content">
           		您好，过年期间，由于物流都没上班，延迟到2月15号发货，祝您新春愉快

       		</p>
       	</div>
     </div>

</block>