<extend name="../Common/admin_base" />


<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="game_strategy_container">
                <div class="common_form">
                    <p>账号交易订单详情</p>
                    <div class="left_info">
                        <h4>账号交易信息</h4>
	                    <li class="static_field">
	                        <label class="form_key">标题：</label>
	                        <label class="form_value">{$orderRes.title}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">游戏：</label>
	                        <label class="form_value">{$orderRes.game}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">平台：</label>
	                        <label class="form_value">{$orderRes.platform}</label>
	                    </li>
	                    <notempty name="orderRes.operator">
	                        <li class="static_field">
	                            <label class="form_key">客户端：</label>
	                            <label class="form_value">{$orderRes.operator}</label>
	                        </li>
	                    </notempty>
	                    <li class="static_field">
	                        <label class="form_key">价钱：</label>
	                        <label class="form_value">{$orderRes.price}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">保证金：</label>
	                        <label class="form_value">{$orderRes.security}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">有效时间：</label>
	                        <label class="form_value">{$orderRes.time}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">交易详情：</label>
	                        <label class="form_value">{$orderRes.details}</label>
	                    </li>  
	                    <li class="static_field">
	                        <label class="form_key">备注：</label>
	                        <label class="form_value">{$orderRes.comment}</label>
	                    </li>
	                </div>
	                <div class="right_info">
	                <h4>游戏账号信息</h4>
	                    <li class="static_field">
	                        <label class="form_key">账号：</label>
	                        <label class="form_value">{$orderRes.account}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">密码：</label>
	                        <label class="form_value">{$orderRes.password}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">区服：</label>
	                        <label class="form_value">{$orderRes.qufu}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">角色：</label>
	                        <label class="form_value">{$orderRes.role}</label>
	                    </li>
	                    <li class="static_field">
	                        <label class="form_key">职业：</label>
	                        <label class="form_value">{$orderRes.occupation}</label>
	                    </li> 
	                    <li class="static_field">
	                        <label class="form_key">等级：</label>
	                        <label class="form_value">{$orderRes.level}</label>
	                    </li> 
	                    <li class="static_field">
	                        <label class="form_key">卖家联系：</label>
	                        <label class="form_value">{$orderRes.contact_way}</label>
	                    </li>
	                </div>      
                    <li class="static_field">
                        <label class="form_key"></label>
                        <label class="form_key"></label>
                        <button onClick="javascript :history.back(-1);">返回</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</block>