/* line 1, ../sass/pc/content/_login_content.scss */
html body {
  background-color: #fff;
  background: none;
}

/* line 5, ../sass/pc/content/_login_content.scss */
.footer_container {
  background: #fff;
  border-top: none;
}

/* line 9, ../sass/pc/content/_login_content.scss */
.top_bar {
  margin-top: 25px;
}

/* line 12, ../sass/pc/content/_login_content.scss */
a {
  color: #06c;
  text-decoration: none;
}
/* line 15, ../sass/pc/content/_login_content.scss */
a:hover {
  text-decoration: underline;
  color: #f90;
}

/* line 21, ../sass/pc/content/_login_content.scss */
.login_box {
  height: 450px;
  padding-top: 50px;
}

/* line 26, ../sass/pc/content/_login_content.scss */
.login_banner {
  margin: 20px 50px 25px 10px;
  width: 430px;
  /*height:303px;*/
  float: left;
}

/* line 33, ../sass/pc/content/_login_content.scss */
.login_form_container {
  width: 320px;
  margin: 25px 0 0 80px;
  float: left;
  border-top: 1px dashed #779830;
  border-bottom: 1px dashed #779830;
  padding: 12px 8px 20px;
}

/* line 42, ../sass/pc/content/_login_content.scss */
.title_bar {
  width: 100%;
}
/* line 44, ../sass/pc/content/_login_content.scss */
.title_bar img {
  text-align: center;
}

/* line 48, ../sass/pc/content/_login_content.scss */
.error_input {
  margin: 3px 0px;
}

/* line 51, ../sass/pc/content/_login_content.scss */
.input_field .form_info {
  width: 28px;
}

/* line 55, ../sass/pc/content/_login_content.scss */
.input_block, .input_field input[type='text'], .input_field input[type='password'] {
  width: 205px;
  padding-left: 33px;
  height: 28px;
  margin-bottom: 0px;
  border: none;
}

/* line 64, ../sass/pc/content/_login_content.scss */
.input_field input[type='text'] {
  background: url(../img/input_text.png) no-repeat 0px -2px;
}
/* line 68, ../sass/pc/content/_login_content.scss */
.input_field input[type='password'] {
  background: url(../img/inupt_pass.png) no-repeat 0px -2px;
}

/* line 74, ../sass/pc/content/_login_content.scss */
.operation {
  padding-left: 43px;
  font-size: 12px;
  width: 252px;
}

/* line 80, ../sass/pc/content/_login_content.scss */
#register_href, #pwd_find_href {
  display: block;
  color: #000;
  float: right;
  margin-left: 25px;
  text-decoration: none;
  width: 60px;
}
/* line 87, ../sass/pc/content/_login_content.scss */
#register_href:hover, #pwd_find_href:hover {
  color: #FF9936;
}

/* line 93, ../sass/pc/content/_login_content.scss */
#login_bottom a {
  color: #666;
}
/* line 96, ../sass/pc/content/_login_content.scss */
#login_bottom a:hover {
  color: #FF9933;
}

/* line 102, ../sass/pc/content/_login_content.scss */
.third_logo ul {
  display: block;
  width: 150px;
  height: 55px;
  padding-left: 2px;
  float: left;
}
/* line 108, ../sass/pc/content/_login_content.scss */
.third_logo ul li {
  margin-top: 26px;
  float: left;
  width: 55px;
  font-size: 12px;
  line-height: 16px;
  padding-left: 18px;
}
/* line 115, ../sass/pc/content/_login_content.scss */
.third_logo ul li.ali_logo {
  background: url(../img/ali_logo.png) no-repeat;
}
/* line 118, ../sass/pc/content/_login_content.scss */
.third_logo ul li.wx_logo {
  background: url(../img/wx_logo.png) no-repeat;
}
/* line 121, ../sass/pc/content/_login_content.scss */
.third_logo ul li.qq_logo {
  margin-left: -5px;
  background: url(../img/qq_logo.png) no-repeat;
}
/* line 127, ../sass/pc/content/_login_content.scss */
.third_logo button {
  width: 163px;
  height: 38px;
  margin: 18px 0 0 0px;
  border: none;
  font-size: 18px;
  color: #fff;
  background: url(../img/login_btn.png) no-repeat;
}
