/* line 1, ../sass/mb/common/alert_login.scss */
.theme-popover-mask {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  display: none;
}

/* line 14, ../sass/mb/common/alert_login.scss */
.theme-popover {
  z-index: 9999;
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 380px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 2px #666;
  background-color: #fff;
  display: none;
  box-shadow: 0 0 10px #666;
}

/* line 29, ../sass/mb/common/alert_login.scss */
.theme-poptit {
  border-bottom: 1px solid #ddd;
  padding: 6px;
  position: relative;
}

/* line 35, ../sass/mb/common/alert_login.scss */
.theme-popbod {
  padding: 60px 15px;
  color: #444;
  height: 148px;
}

/* line 41, ../sass/mb/common/alert_login.scss */
.dform {
  padding: 80px 30px 40px 10px;
  text-align: center;
}

/* line 46, ../sass/mb/common/alert_login.scss */
.theme-signin {
  margin: -80px -20px -50px -40px;
  text-align: left;
  font-size: 14px;
}

/* line 53, ../sass/mb/common/alert_login.scss */
.login_form li {
  list-style: none;
}
/* line 56, ../sass/mb/common/alert_login.scss */
.login_form li button {
  margin: 3px 10px;
  background-color: #007aff;
  color: #fff;
  width: 80px;
  font-size: 18px;
}
/* line 64, ../sass/mb/common/alert_login.scss */
.login_form li a {
  margin-top: 15px;
  display: inline-block;
}

/* line 72, ../sass/mb/common/alert_login.scss */
.ipt {
  border: solid 1px #d2d2d2;
  border-left-color: #ccc;
  border-top-color: #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 #f8f8f8;
  background-color: #fff;
  height: 21px;
  line-height: 21px;
  color: #555;
  width: 180px;
  vertical-align: baseline;
}

/* line 86, ../sass/mb/common/alert_login.scss */
.theme-popover-mask {
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  filter: alpha(opacity=40);
  display: none;
}

/* line 99, ../sass/mb/common/alert_login.scss */
.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #000;
  opacity: 0.6;
}

/* line 109, ../sass/mb/common/alert_login.scss */
#info {
  margin-top: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #f00;
}

/* line 2, ../sass/mb/common/_finish_header.scss */
.success-header b {
  color: #DF0000;
  font-size: 30px;
}
/* line 7, ../sass/mb/common/_finish_header.scss */
.success-header p {
  margin-left: 50px;
  color: #fe7d55;
}
/* line 11, ../sass/mb/common/_finish_header.scss */
.success-header p b {
  color: #DF0000;
  font-size: 20px;
}

/* line 4, ../sass/mb_group_buy.scss */
.import_price {
  color: red;
  float: right;
}

/* line 9, ../sass/mb_group_buy.scss */
.progress_all {
  width: 100%;
  height: 5px;
  background: #ccc;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 1px;
}
/* line 16, ../sass/mb_group_buy.scss */
.progress_all .progress {
  background: #ff9936;
  height: 5px;
}

/* line 22, ../sass/mb_group_buy.scss */
.people {
  width: 100%;
}
/* line 24, ../sass/mb_group_buy.scss */
.people span {
  font-size: 12px;
}
/* line 26, ../sass/mb_group_buy.scss */
.people span.people_buy {
  display: inline-block;
  color: #ff9936;
  width: 30%;
  text-align: center;
  margin-left: -10px;
}
/* line 33, ../sass/mb_group_buy.scss */
.people span.people_all {
  display: inline-block;
  width: 35%;
  text-align: center;
}
/* line 38, ../sass/mb_group_buy.scss */
.people span.people_left {
  display: inline-block;
  color: #2294FE;
  width: 30%;
  text-align: right;
}
/* line 44, ../sass/mb_group_buy.scss */
.people span i {
  color: #ccc;
}

/* line 49, ../sass/mb_group_buy.scss */
.max_buy {
  display: inline-block;
  width: 60px;
  height: 33px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 33px;
  border-radius: 10px;
}
/* line 57, ../sass/mb_group_buy.scss */
.max_buy:hover {
  border: 1px solid #FF9935;
  color: #FF9935;
}

/* line 62, ../sass/mb_group_buy.scss */
h3 {
  text-align: center;
  color: #FF9935;
}

/* line 66, ../sass/mb_group_buy.scss */
.orange {
  color: #FF9935;
}

/* line 70, ../sass/mb_group_buy.scss */
.code span {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}

/* line 78, ../sass/mb_group_buy.scss */
.info span {
  display: inline-block;
  width: 120px;
  color: #FF9935;
}
/* line 83, ../sass/mb_group_buy.scss */
.info label {
  float: right;
  color: #0062cc;
}
