/* line 2, ../sass/mb/content/_index_content.scss */
.logo_bar {
  float: left;
  margin-left: 8px;
  margin-bottom: 8px;
}
/* line 7, ../sass/mb/content/_index_content.scss */
.logo_bar img {
  display: block;
  width: 80px;
  height: 30px;
}

/* line 14, ../sass/mb/content/_index_content.scss */
.login_bar {
  float: right;
  font-size: 12px;
  margin-right: 8px;
  margin-top: 0px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
}
/* line 23, ../sass/mb/content/_index_content.scss */
.login_bar a {
  margin-left: 8px;
}
/* line 27, ../sass/mb/content/_index_content.scss */
.login_bar a img {
  margin-top: -3px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

/* line 35, ../sass/mb/content/_index_content.scss */
.common_side, .left, .center, .right {
  width: 33.33%;
  height: auto;
  float: left;
}
/* line 40, ../sass/mb/content/_index_content.scss */
.common_side div, .left div, .center div, .right div {
  width: 100%;
  height: auto;
  /*padding-top:2px;*/
}

/* line 47, ../sass/mb/content/_index_content.scss */
.left {
  padding-right: 1%;
}

/* line 53, ../sass/mb/content/_index_content.scss */
.center {
  padding-left: 0.55%;
  padding-right: 0.55%;
}

/* line 58, ../sass/mb/content/_index_content.scss */
.right {
  padding-left: 1%;
}

/* line 63, ../sass/mb/content/_index_content.scss */
.bottom_left {
  width: 50%;
  float: left;
  padding-right: 0.8%;
}

/* line 69, ../sass/mb/content/_index_content.scss */
.bottom_right {
  width: 50%;
  float: left;
  padding-left: 0.8%;
}

/* line 76, ../sass/mb/content/_index_content.scss */
.item {
  padding-bottom: 6px;
  margin: 0;
  display: block;
  width: 100%;
}
/* line 81, ../sass/mb/content/_index_content.scss */
.item img {
  width: 100%;
  height: auto;
}

/* line 86, ../sass/mb/content/_index_content.scss */
body, html {
  font: 14px/1.5 arial;
  height: 100%;
}

/* line 90, ../sass/mb/content/_index_content.scss */
#mui_content {
  min-height: 100%;
  position: relative;
}

/* line 95, ../sass/mb/content/_index_content.scss */
.main_container {
  margin: 10px;
  padding-bottom: 66px;
}

/* line 101, ../sass/mb/content/_index_content.scss */
#search_text {
  width: 85%;
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
}

/* line 107, ../sass/mb/content/_index_content.scss */
#search_submit {
  width: 15%;
  color: blue;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 0;
  border-radius: 0px 3px 3px 0px;
}

/* line 114, ../sass/mb/content/_index_content.scss */
.mb_footer {
  position: absolute;
  bottom: -20px;
  width: 100%;
  margin: 0 auto;
}
/* line 120, ../sass/mb/content/_index_content.scss */
.mb_footer .index-tel {
  width: 100%;
}
/* line 124, ../sass/mb/content/_index_content.scss */
.mb_footer .index-qq {
  width: 50%;
  float: left;
}
/* line 129, ../sass/mb/content/_index_content.scss */
.mb_footer .index-tel, .mb_footer .index-qq {
  height: auto;
  color: #333;
  text-align: center;
  margin-top: 5px;
}
/* line 137, ../sass/mb/content/_index_content.scss */
.mb_footer .suggest {
  padding-top: 8px;
}
/* line 139, ../sass/mb/content/_index_content.scss */
.mb_footer .suggest a {
  color: #00f;
}

/* line 146, ../sass/mb/content/_index_content.scss */
.orange {
  color: #FF9936;
}

/* line 150, ../sass/mb/content/_index_content.scss */
.mb_table {
  font-size: 12px;
}

/* line 2, ../sass/mb/content/_index_nav.scss */
.nva {
  margin-top: 5px;
}
/* line 4, ../sass/mb/content/_index_nav.scss */
.nva img {
  opacity: 0;
  opacity: 1\9;
  -webkit-animation-name: scale;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  box-sizing: border-box;
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6, 0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}
@-ms-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6, 0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6, 0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}
/* line 1, ../sass/pc/common/_page.scss */
.page {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/pc/common/_page.scss */
.page a {
  float: left;
  display: block;
  overflow: hidden;
  margin: 5px 2px;
  padding: 2px 10px;
  border: 1px solid #D7DBDC;
  text-decoration: none;
  color: #404548;
  background-color: #F6FFFF;
}
/* line 16, ../sass/pc/common/_page.scss */
.page a:hover {
  background-color: #72B939;
  color: #fff;
}
/* line 21, ../sass/pc/common/_page.scss */
.page a.current {
  background-color: #72B939;
  color: #fff;
}
/* line 26, ../sass/pc/common/_page.scss */
.page span {
  float: left;
  display: block;
  overflow: hidden;
  color: #404548;
  background-color: #F6FFFF;
  margin: 5px;
  padding: 5px 8px;
  border: 1px solid #D7DBDC;
  font-size: 12px;
}

/* line 1, ../sass/mb/common/_jquery_validate_error.scss */
.mobile_error {
  height: 23px;
  overflow: hidden;
}
/* line 5, ../sass/mb/common/_jquery_validate_error.scss */
.mobile_error li {
  list-style: none;
}

/* line 2, ../sass/mb/common/_mb_form.scss */
.code {
  width: 100%;
}
/* line 4, ../sass/mb/common/_mb_form.scss */
.code .check_vcode {
  float: left;
  width: 50%;
}
/* line 8, ../sass/mb/common/_mb_form.scss */
.code img {
  float: left;
  width: 49%;
  margin-left: 1%;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}

/* line 18, ../sass/mb/common/_mb_form.scss */
input[type='button'] {
  float: right;
  width: 49%;
  height: 40px;
  color: #ffffff;
  background-color: #007AFF;
}

/* line 27, ../sass/mb/common/_mb_form.scss */
.static_field {
  height: 40px;
  line-height: 40px;
}
/* line 30, ../sass/mb/common/_mb_form.scss */
.static_field .key {
  text-align: center;
  display: inline-block;
  width: 50%;
}
/* line 35, ../sass/mb/common/_mb_form.scss */
.static_field .value {
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

/* line 42, ../sass/mb/common/_mb_form.scss */
.clear {
  clear: both;
}

/* line 47, ../sass/mb/common/_mb_form.scss */
span.error {
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  height: 20px;
  color: red;
}
