/* line 2, ../sass/mb/common/_mb_form.scss */
.code {
  width: 100%;
}
/* line 4, ../sass/mb/common/_mb_form.scss */
.code .check_vcode {
  float: left;
  width: 50%;
}
/* line 8, ../sass/mb/common/_mb_form.scss */
.code img {
  float: left;
  width: 49%;
  margin-left: 1%;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}

/* line 18, ../sass/mb/common/_mb_form.scss */
input[type='button'] {
  float: right;
  width: 49%;
  height: 40px;
  color: #ffffff;
  background-color: #007AFF;
}

/* line 27, ../sass/mb/common/_mb_form.scss */
.static_field {
  height: 40px;
  line-height: 40px;
}
/* line 30, ../sass/mb/common/_mb_form.scss */
.static_field .key {
  text-align: center;
  display: inline-block;
  width: 50%;
}
/* line 35, ../sass/mb/common/_mb_form.scss */
.static_field .value {
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

/* line 42, ../sass/mb/common/_mb_form.scss */
.clear {
  clear: both;
}

/* line 47, ../sass/mb/common/_mb_form.scss */
span.error {
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  height: 20px;
  color: red;
}

/* line 1, ../sass/mb/content/_login_content.scss */
.login-container {
  margin: 0 8px;
  margin-top: 10px;
}
/* line 5, ../sass/mb/content/_login_content.scss */
.login-container input[type='text'], .login-container input[type='password'] {
  width: 85%;
}
/* line 9, ../sass/mb/content/_login_content.scss */
.login-container .remember {
  margin: 3px 10px 20px 5px;
}
/* line 13, ../sass/mb/content/_login_content.scss */
.login-container .mui-icon {
  width: 10%;
}

/* line 19, ../sass/mb/content/_login_content.scss */
.login-signup {
  text-align: center;
  margin-top: 15px;
  background-color: #ff0;
}
/* line 24, ../sass/mb/content/_login_content.scss */
.login-signup a {
  display: block;
  width: 50%;
  float: left;
  color: #0073c3;
  font-weight: 500;
  font-size: 20px;
}
/* line 31, ../sass/mb/content/_login_content.scss */
.login-signup a:hover {
  background-color: #cccccc;
  border-radius: 5px;
}

/* line 38, ../sass/mb/content/_login_content.scss */
.mui-btn-block {
  padding: 5px 0px;
}

/* line 1, ../sass/mb/content/_registe_content.scss */
.register-container {
  margin: 0 8px;
  margin-top: 10px;
}
/* line 4, ../sass/mb/content/_registe_content.scss */
.register-container span {
  color: #007AFF;
}
/* line 8, ../sass/mb/content/_registe_content.scss */
.register-container input {
  margin-bottom: 8px;
}
/* line 12, ../sass/mb/content/_registe_content.scss */
.register-container a {
  color: #007AFF;
}
/* line 14, ../sass/mb/content/_registe_content.scss */
.register-container a:hover {
  color: #ff0000;
}

/* line 21, ../sass/mb/content/_registe_content.scss */
.code {
  width: 100%;
}
/* line 24, ../sass/mb/content/_registe_content.scss */
.code .check_vcode {
  float: left;
  width: 50%;
}
/* line 29, ../sass/mb/content/_registe_content.scss */
.code #vcode {
  float: left;
  width: 49%;
  margin-left: 1%;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}

/* line 39, ../sass/mb/content/_registe_content.scss */
.agreed {
  clear: both;
  margin-bottom: 10px;
}
/* line 43, ../sass/mb/content/_registe_content.scss */
.agreed label {
  display: block;
  width: 90%;
}
/* line 48, ../sass/mb/content/_registe_content.scss */
.agreed input {
  margin: 3px 10px 0px 5px;
}

/* line 53, ../sass/mb/content/_registe_content.scss */
.reg_tel-container {
  margin: 0 8px;
  margin-top: 10px;
}
/* line 57, ../sass/mb/content/_registe_content.scss */
.reg_tel-container a {
  color: #007AFF;
}
/* line 59, ../sass/mb/content/_registe_content.scss */
.reg_tel-container a:hover {
  color: #ff0000;
}

/* line 65, ../sass/mb/content/_registe_content.scss */
.clear {
  clear: both;
}

/* line 69, ../sass/mb/content/_registe_content.scss */
#check_vcode_btn {
  width: 49%;
  height: 40px;
  color: #ffffff;
  background-color: #007AFF;
}

/* line 76, ../sass/mb/content/_registe_content.scss */
span.error {
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  height: 20px;
  color: red;
}

/* line 86, ../sass/mb/content/_registe_content.scss */
.finish {
  width: 100%;
  text-align: center;
}

/* line 91, ../sass/mb/content/_registe_content.scss */
.finish_title {
  padding-top: 15px;
  margin: 0 auto;
  width: 40%;
}
/* line 96, ../sass/mb/content/_registe_content.scss */
.finish_title p {
  color: #598218;
}

/* line 102, ../sass/mb/content/_registe_content.scss */
.qrcode p {
  font-size: 13px;
  font-weight: bold;
}
/* line 106, ../sass/mb/content/_registe_content.scss */
.qrcode p a {
  font-size: 16px;
}
