/* line 2, ../sass/mb/common/_mb_form.scss */
.code {
  width: 100%;
}
/* line 4, ../sass/mb/common/_mb_form.scss */
.code .check_vcode {
  float: left;
  width: 50%;
}
/* line 8, ../sass/mb/common/_mb_form.scss */
.code img {
  float: left;
  width: 49%;
  margin-left: 1%;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
}

/* line 18, ../sass/mb/common/_mb_form.scss */
input[type='button'] {
  float: right;
  width: 49%;
  height: 40px;
  color: #ffffff;
  background-color: #007AFF;
}

/* line 27, ../sass/mb/common/_mb_form.scss */
.static_field {
  height: 40px;
  line-height: 40px;
}
/* line 30, ../sass/mb/common/_mb_form.scss */
.static_field .key {
  text-align: center;
  display: inline-block;
  width: 50%;
}
/* line 35, ../sass/mb/common/_mb_form.scss */
.static_field .value {
  font-weight: bold;
  display: inline-block;
  width: 50%;
}

/* line 42, ../sass/mb/common/_mb_form.scss */
.clear {
  clear: both;
}

/* line 47, ../sass/mb/common/_mb_form.scss */
span.error {
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 100%;
  height: 20px;
  color: red;
}

/* line 1, ../sass/mb/common/_step.scss */
.step_content {
  margin: 0 8px;
  height: 60px;
  padding: 15px 0;
  position: relative;
  width: 100%;
  font-size: 12px;
}

/* line 12, ../sass/mb/common/_step.scss */
.step {
  padding: 10px 0px;
  text-align: left;
  font-size: 10px;
  text-align: center;
}
/* line 18, ../sass/mb/common/_step.scss */
.step div {
  float: left;
  display: inline-block;
  width: 24%;
  margin: 0;
  padding: 0;
}
/* line 26, ../sass/mb/common/_step.scss */
.step span {
  float: left;
  width: 81%;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  background-color: #78B5F9;
  color: white;
  text-align: center;
}
/* line 37, ../sass/mb/common/_step.scss */
.step label {
  float: left;
  display: inline-block;
  border-color: transparent transparent transparent #78B5F9;
  border-style: dashed dashed  dashed solid;
  border-width: 11px 0 11px 6px;
  width: 0px;
  height: 0px;
}
/* line 47, ../sass/mb/common/_step.scss */
.step span.selected {
  float: left;
  width: 81%;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  background-color: #007AFF;
  color: white;
  text-align: center;
}
/* line 58, ../sass/mb/common/_step.scss */
.step label.selected {
  float: left;
  display: inline-block;
  border-color: transparent transparent transparent #007AFF;
  border-style: dashed dashed  dashed solid;
  border-width: 11px 0 11px 6px;
  width: 0px;
  height: 0px;
}

/* line 1, ../sass/mb/content/_user_content.scss */
.head_picture {
  margin-top: 10px;
  text-align: left;
  background-color: #fbfbd2;
  padding-bottom: 5px;
}
/* line 7, ../sass/mb/content/_user_content.scss */
.head_picture img {
  margin: 5px 0 5px 5px;
  float: left;
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
}
/* line 15, ../sass/mb/content/_user_content.scss */
.head_picture .right_info {
  float: left;
  margin-left: 10px;
}
/* line 19, ../sass/mb/content/_user_content.scss */
.head_picture label {
  text-align: left;
  font-size: 12px;
  color: #999999;
}

/* line 26, ../sass/mb/content/_user_content.scss */
#info {
  margin-top: 15px;
  text-align: left;
  width: 180px;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

/* line 35, ../sass/mb/content/_user_content.scss */
.nav {
  margin: 0;
  padding: 0;
  height: 10px;
  width: 100%;
  background-color: #007aff;
}

/* line 42, ../sass/mb/content/_user_content.scss */
.clear {
  clear: both;
}

/* line 46, ../sass/mb/content/_user_content.scss */
.menu {
  background-color: #fbfbd2;
}

/* line 50, ../sass/mb/content/_user_content.scss */
.editpass-container {
  margin: 0 8px;
  padding-top: 10px;
}

/* line 55, ../sass/mb/content/_user_content.scss */
.link {
  text-decoration: underline !important;
  color: #f00;
  padding: 5px;
}

/* line 60, ../sass/mb/content/_user_content.scss */
.mini_logo {
  vertical-align: middle;
  margin: -3px 5px 0px 0px;
}

/* line 64, ../sass/mb/content/_user_content.scss */
.payment {
  color: #f00;
}

/* line 67, ../sass/mb/content/_user_content.scss */
#instructions {
  display: inline-block;
  padding-left: 30px;
  color: #ddd;
}

/* line 73, ../sass/mb/content/_user_content.scss */
.user_account {
  padding-left: 50px;
  background: url(../img/menu/user.png) 8px 11px no-repeat;
}

/* line 77, ../sass/mb/content/_user_content.scss */
.user_order {
  padding-left: 50px;
  background: url(../img/menu/order.png) 8px 11px no-repeat;
}

/* line 81, ../sass/mb/content/_user_content.scss */
.user_action {
  padding-left: 50px;
  background: url(../img/menu/requirement.png) 8px 11px no-repeat;
}

/* line 85, ../sass/mb/content/_user_content.scss */
.user_goods {
  padding-left: 50px;
  background: url(../img/menu/goods.png) 8px 13px no-repeat;
}

/* line 89, ../sass/mb/content/_user_content.scss */
.user_message {
  padding-left: 50px;
  background: url(../img/menu/message.png) 8px 15px no-repeat;
}

/* line 93, ../sass/mb/content/_user_content.scss */
.new_message {
  font-size: 16px;
  color: red;
}

/* line 97, ../sass/mb/content/_user_content.scss */
.user_help {
  padding-left: 50px;
  background: url(../img/menu/help.png) 8px 13px no-repeat;
}

/* line 102, ../sass/mb/content/_user_content.scss */
.codes {
  display: inline-block;
  float: left;
  padding: 0px 15px 0px 0px;
}

/* line 107, ../sass/mb/content/_user_content.scss */
.red {
  color: #f00;
  float: right;
}

/* line 112, ../sass/mb/content/_user_content.scss */
.singer {
  border-bottom: 1px solid #DCDBDB;
  height: 50px;
  line-height: 45px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* line 121, ../sass/mb/content/_user_content.scss */
.operation {
  float: right;
  margin-top: 65px;
  margin-right: 5px;
  height: 37px;
  line-height: 32px;
  font-size: 12px;
}
/* line 128, ../sass/mb/content/_user_content.scss */
.operation img {
  width: 20px;
  margin: 5px 0;
  height: 20px;
  border: 0;
}

/* line 136, ../sass/mb/content/_user_content.scss */
span.vip_level {
  display: inline-block;
  padding: 0 0 10px 25px;
  font-size: 14px;
  margin-left: -5px;
  background: url(../img/small_vip.png) 3px -2px no-repeat;
  color: #fff;
}

/* line 145, ../sass/mb/content/_user_content.scss */
.other_info {
  padding: 0px;
  margin: 0px;
}
/* line 148, ../sass/mb/content/_user_content.scss */
.other_info li {
  list-style: none;
  border-top: 1px solid #DCDBDB;
  padding: 5px 0px 5px 10px;
}
/* line 152, ../sass/mb/content/_user_content.scss */
.other_info li a {
  float: right;
  margin-right: 10px;
}

/* line 160, ../sass/mb/content/_user_content.scss */
.finish_title img {
  vertical-align: middle;
}
/* line 163, ../sass/mb/content/_user_content.scss */
.finish_title span {
  display: inline-block;
  width: 320px;
  height: 40px;
  font-size: 18px;
}

/* line 171, ../sass/mb/content/_user_content.scss */
.collect {
  background: url(../img/menu/hat.png) 8px 13px no-repeat;
}

/* line 1, ../sass/mb/common/_table.scss */
table {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
}
/* line 6, ../sass/mb/common/_table.scss */
table tr th, table tr td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}
/* line 11, ../sass/mb/common/_table.scss */
table tr th a, table tr td a {
  text-decoration: none;
  color: #000;
}
/* line 15, ../sass/mb/common/_table.scss */
table tr th a:hover, table tr td a:hover {
  text-decoration: underline;
  color: orange;
}
/* line 22, ../sass/mb/common/_table.scss */
table tr.list_head {
  background: #353535;
  color: #fff;
}
/* line 26, ../sass/mb/common/_table.scss */
table tr:nth-child(2n+3) {
  background: #ededed;
}

/* line 1, ../sass/pc/common/_page.scss */
.page {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/pc/common/_page.scss */
.page a {
  float: left;
  display: block;
  overflow: hidden;
  margin: 5px 2px;
  padding: 2px 10px;
  border: 1px solid #D7DBDC;
  text-decoration: none;
  color: #404548;
  background-color: #F6FFFF;
}
/* line 16, ../sass/pc/common/_page.scss */
.page a:hover {
  background-color: #72B939;
  color: #fff;
}
/* line 21, ../sass/pc/common/_page.scss */
.page a.current {
  background-color: #72B939;
  color: #fff;
}
/* line 26, ../sass/pc/common/_page.scss */
.page span {
  float: left;
  display: block;
  overflow: hidden;
  color: #404548;
  background-color: #F6FFFF;
  margin: 5px;
  padding: 5px 8px;
  border: 1px solid #D7DBDC;
  font-size: 12px;
}

/* line 1, ../sass/pc/common/_week.scss */
.singer_r_img {
  float: left;
  display: block;
  width: 114px;
  height: 52px;
  background: url(../img/account_center/sing_week.gif) right 2px no-repeat;
  vertical-align: middle;
  float: right;
  *margin-bottom: -10px;
}
/* line 11, ../sass/pc/common/_week.scss */
.singer_r_img:hover {
  background-position: right -53px;
  text-decoration: none;
}
/* line 16, ../sass/pc/common/_week.scss */
.singer_r_img span {
  margin-left: 14px;
  font-size: 18px;
  display: block;
  font-family: 'Hiragino Sans GB','Microsoft YaHei',sans-serif !important;
  font-weight: 700;
  color: #165379;
}
/* line 25, ../sass/pc/common/_week.scss */
.singer_r_img.current {
  background: url(../img/account_center/sing_sing.gif) no-repeat 0 2px;
}

/* line 29, ../sass/pc/common/_week.scss */
.singer_l_cont {
  float: left;
  height: 50px;
  background: url(../img/account_center/sing_per.gif) no-repeat left 12px;
  text-indent: 23px;
  font-size: 16px;
}

/* line 36, ../sass/pc/common/_week.scss */
#week_day {
  color: #165379;
  font-size: 18px;
}

/* line 41, ../sass/pc/common/_week.scss */
.sign table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* line 42, ../sass/pc/common/_week.scss */
.sign th, .sign td {
  width: 30px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #e3e3e3;
}

/* line 43, ../sass/pc/common/_week.scss */
.sign th {
  font-size: 16px;
}

/* line 44, ../sass/pc/common/_week.scss */
.sign td {
  color: #404040;
  vertical-align: middle;
}

/* line 45, ../sass/pc/common/_week.scss */
.sign .on {
  background: url(../img/account_center/sign_have.gif) no-repeat center;
}

/* line 46, ../sass/pc/common/_week.scss */
.calendar_month_next, .calendar_month_prev {
  width: 34px;
  height: 40px;
  cursor: pointer;
  background: url(../img/account_center/sign_arrow.png) no-repeat;
}

/* line 47, ../sass/pc/common/_week.scss */
.calendar_month_next {
  float: right;
  background-position: -42px -6px;
}

/* line 48, ../sass/pc/common/_week.scss */
.calendar_month_span {
  display: inline;
  line-height: 40px;
  font-size: 16px;
  color: #656565;
  letter-spacing: 2px;
  font-weight: bold;
}

/* line 49, ../sass/pc/common/_week.scss */
.calendar_month_prev {
  float: left;
  background-position: -5px -6px;
}

/* line 50, ../sass/pc/common/_week.scss */
.sign_succ_calendar_title {
  text-align: center;
  width: 398px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  background: #fff;
}

/* line 51, ../sass/pc/common/_week.scss */
.sign_main {
  border-top: 1px solid #e3e3e3;
  font-family: "Microsoft YaHei",SimHei;
}

/* line 52, ../sass/pc/common/_week.scss */
#sign_layer {
  display: none;
  width: 400px;
}

/* line 55, ../sass/pc/common/_week.scss */
.sign_msg b {
  color: red;
}
/* line 58, ../sass/pc/common/_week.scss */
.sign_msg p {
  color: red;
  font-size: 12px;
}
/* line 61, ../sass/pc/common/_week.scss */
.sign_msg p a {
  text-decoration: none;
  color: orange;
}
/* line 66, ../sass/pc/common/_week.scss */
.sign_msg li {
  list-style-type: disc;
}
