/* line 1, ../sass/order_tag.scss */
.selected_color {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
}

/* line 7, ../sass/order_tag.scss */
.color_container {
  width: 520px;
  height: 150px;
  margin-left: 150px;
  margin-top: 15px;
}
/* line 12, ../sass/order_tag.scss */
.color_container .bg_color {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

/* line 22, ../sass/order_tag.scss */
.tag_content {
  font-size: 12px;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 29, ../sass/order_tag.scss */
.tag_content b {
  font-size: 12px;
  position: relative;
  top: -8px;
  left: 2px;
  visibility: hidden;
  cursor: pointer;
}

/* line 39, ../sass/order_tag.scss */
.tag_list {
  font-size: 12px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  float: left;
  cursor: pointer;
}
