/* line 1, ../sass/pc/content/_requirement_content.scss */
.requirement_info {
  padding-left: 50px;
  width: 70%;
}
/* line 5, ../sass/pc/content/_requirement_content.scss */
.requirement_info h3 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
/* line 10, ../sass/pc/content/_requirement_content.scss */
.requirement_info .game_operator {
  display: none;
}

/* line 15, ../sass/pc/content/_requirement_content.scss */
label.error {
  font-size: 12px;
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 320px;
  height: 20px;
  color: red;
}

/* line 25, ../sass/pc/content/_requirement_content.scss */
label.success {
  font-size: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/right.png") no-repeat 0px 0px;
  position: relative;
  top: 10px;
}

/* line 34, ../sass/pc/content/_requirement_content.scss */
.details {
  margin: 0 auto;
  width: 980px;
  height: 500px;
}

/* line 40, ../sass/pc/content/_requirement_content.scss */
.content .clear {
  clear: both;
}

/* line 43, ../sass/pc/content/_requirement_content.scss */
.requirement_container {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}

/* line 49, ../sass/pc/content/_requirement_content.scss */
#slideboxContainer {
  margin-left: 280px;
}

/* line 53, ../sass/pc/content/_requirement_content.scss */
.details_content p {
  font-size: 12px;
  width: 100%;
  height: 32px;
  line-height: 32px;
}
/* line 58, ../sass/pc/content/_requirement_content.scss */
.details_content p label {
  display: inline-block;
  color: #999;
  width: 85px;
  text-align: right;
}

/* line 66, ../sass/pc/content/_requirement_content.scss */
.un_paid_text {
  color: #ccc;
  margin-right: 8px;
}

/* line 71, ../sass/pc/content/_requirement_content.scss */
.link {
  text-decoration: none;
  color: #f00;
}

/* line 76, ../sass/pc/content/_requirement_content.scss */
.state_pic {
  position: relative;
  float: right;
  display: block;
  width: 57px;
  height: 107px;
  background: url(../img/state_pic.png) no-repeat 0 0;
}
/* line 84, ../sass/pc/content/_requirement_content.scss */
.state_pic p {
  margin: auto;
  margin-top: 10px;
  width: 16px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

/* line 1, ../sass/pc/common/_left_img_and_explain.scss */
.cz_game_info {
  width: 220px;
  padding-right: 5px;
  padding-left: 10px;
}
/* line 6, ../sass/pc/common/_left_img_and_explain.scss */
.cz_game_info img {
  margin: 23px 0 20px 23px;
}
/* line 9, ../sass/pc/common/_left_img_and_explain.scss */
.cz_game_info h5 {
  text-align: center;
}

/* line 14, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div {
  width: 100%;
  margin-top: 23px;
}
/* line 19, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div label {
  display: block;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
}
/* line 29, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div hr {
  border-top: 3px solid #4091E9;
}
/* line 33, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div ul {
  margin-top: 10px;
}
/* line 38, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div li {
  list-style-type: decimal;
  padding: 2px 8px 2px 0px;
  line-height: 20px;
  font-size: 12px;
  margin-left: 26px;
}
/* line 44, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div li a {
  color: #666;
  text-decoration: none;
}
/* line 47, ../sass/pc/common/_left_img_and_explain.scss */
.instructions_div li a:hover {
  color: #f00;
}

/* line 55, ../sass/pc/common/_left_img_and_explain.scss */
.problem_title {
  height: 24px;
  padding: 50px 0  0 8px;
  border-bottom: 1px solid #ccc;
}
/* line 59, ../sass/pc/common/_left_img_and_explain.scss */
.problem_title img {
  margin: 0 5px 0 0;
  height: 18px;
  float: left;
}
/* line 64, ../sass/pc/common/_left_img_and_explain.scss */
.problem_title p {
  font-size: 13px;
  width: 120px;
  float: left;
}
