/* line 1, ../sass/web_map.scss */
.web_map_container {
  margin: 30px auto;
}

/* line 5, ../sass/web_map.scss */
.web_map {
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  margin-bottom: 15px;
  border: 1px #dddddd solid;
  border-top-color: #F4A33E;
  border-top-width: 2px;
}
/* line 14, ../sass/web_map.scss */
.web_map h2 {
  height: 35px;
  line-height: 35px;
  margin: 0 20px;
  border-bottom: 1px #dddddd solid;
  font-size: 16px;
  color: #f27d27;
}
/* line 23, ../sass/web_map.scss */
.web_map .web_map_content {
  padding: 20px;
  overflow: hidden;
  font-size: 13px;
}
/* line 27, ../sass/web_map.scss */
.web_map .web_map_content a {
  float: left;
  text-decoration: none;
  margin-right: 15px;
  padding: 0 10px;
  height: 30px;
  color: #333;
  line-height: 30px;
}
/* line 35, ../sass/web_map.scss */
.web_map .web_map_content a:hover {
  color: #fff;
  background-color: #3b639f;
}
