<extend name="../Common/home_base" />

<block name="content">
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>发布成功</span>
                <p>您的游戏账号已上架出售，请随时留意最新动态&nbsp;!</p>
                <div class="alert_text">若有疑问，可凭<strong>&nbsp;订单号&nbsp;{$account_order_info.id}&nbsp;</strong>咨询客服</div>
            </div>

            <div class="pay_finish_info">
                <h3>账号买卖</h3>
                <p>
                    <label class="finish_key">订单号：</label>
                    <label class="finish_value">{$account_order_info.id}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$account_order_info.game_name}</label>
                </p>
                <p>
                    <label class="finish_key">成品号：</label>
                    <label class="finish_value">{$account_order_info.title}</label>
                </p>
                <p>
                    <label class="finish_key">已付保证金：</label>
                    <label class="finish_value">{$account_order_info.security_money}</label>
                </p>
            </div>
        </div>
    </div>
</block>