<extend name="../Common/admin_base" />

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="news_strategy_container">
                <form class="common_form container" action="{:U('Admin/Banner/write_banner')}" method="post" enctype="multipart/form-data">
                    <p>添加首页轮播图</p>
                    
                    <li class="required">
                        <label>标题</label>
                        <input type="text" name="title">
                    </li>
                    <li class="required">
                        <label>图片</label>
                        <input type="file" name="img">
                    </li>
                    <li class="required">
                        <label>链接</label>
                        <input type="text" name="href">
                    </li>
                    <li class="required">
                        <label>优先级（数值大者靠前）</label>
                        <input type="text" name="priority" value="0">
                    </li>
                    <li>
                        <button type="submit">添加</button>
                        <button type="reset">取消</button>
                    </li>
                </form>
            </div>
        </div>
    </div>
</block>