<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/Public/js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        function post(URL, PARAMS) {
            var temp = document.createElement("form");
            temp.action = URL;
            temp.method = "post";
            temp.style.display = "none";
            for (var x in PARAMS) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = PARAMS[x];
                temp.appendChild(opt);
            }
            document.body.appendChild(temp);
            temp.submit();
            return temp;
        }

        $(document).ready(function(){
            var desc = '轰轰虎费用'
            console.log(encodeURI(desc));

            post('http://honghonghu.com:8090/YeePay/req.php', {
                p2_Order:97831,
                p3_Amt:6,
                p5_Pid:encodeURI(desc),
                p8_Url :"http://honghonghu.com:8090/YeePay/callback.php"
            });

        });
    </script>
</head>
<body>
跳转中……
</body>
</html>