<extend name="../Common/home_base" />

<block name="custom_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/requirement.css">
</block>

<block name="extra_js">
    <script type="text/javascript" src="__PUBLIC__/js/package.js"></script>
    <script src="__PUBLIC__/js/module/cash_desk.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            cash_desk_active();

            $('.btn_ok').click(function(){
                var url="{$result_url}";

                $.post(url, "", function(msg){
                    if(msg.status){
                        window.location.href = "{$result_finish_url}";
                    }else{
                        alert("其实你还没有付款");
                    }
                },'json');
            });
        });
    </script>
</block>

<block name="content">
    <div class="row_container">
        <div class="center_content">
            <include file="Bank/cash_desk"/>
        </div>
    </div>
</block>