<extend name="../Common/admin_base" />

<!-- <block name="extra_js">
</block> -->

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="game_strategy_container">
                <div class="common_form container">
                    <p>首冲号订单详情</p>
                    <li class="static_field">
                        <label class="form_key">标题：</label>
                        <label class="form_value">{$orderRes.title}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">游戏：</label>
                        <label class="form_value">{$orderRes.game}</label>
                    </li>
                    <notempty name="orderRes.operator">
                        <li class="static_field">
                            <label class="form_key">客户端：</label>
                            <label class="form_value">{$orderRes.operator}</label>
                        </li>
                    </notempty>
                    <li class="static_field">
                        <label class="form_key">价钱：</label>
                        <label class="form_value">{$orderRes.price}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">折扣：</label>
                        <label class="form_value">{$orderRes.discount}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">正真支付：</label>
                        <label class="form_value">{$orderRes.payment}</label>
                    </li>                     
                    <li class="static_field">
                        <label class="form_key">游戏账号：</label>
                        <label class="form_value">{$orderRes.account}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">游戏密码：</label>
                        <label class="form_value">{$orderRes.password}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">游戏区服：</label>
                        <label class="form_value">{$orderRes.qufu}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">游戏角色：</label>
                        <label class="form_value">{$orderRes.role}</label>
                    </li>
                    <li class="static_field">
                        <label class="form_key">联系方式：</label>
                        <label class="form_value">{$orderRes.contact_way}</label>
                    </li>   
                    <li class="static_field">
                        <label class="form_key"></label>
                        <button onClick="javascript :history.back(-1);">返回</button>
                    </li>
                </div>
            </div>
        </div>
    </div>
</block>