<extend name="../Common/account_index" />

<block name="custom_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/coinscenter.css">
</block>

<block name="extra_js">
    
</block>

<block name="content">
    <div class="menu_bar_content">
        <div class="user_center_list">
            <div class="coins_cz_finish">
                <div class="coins_finish_container">
                    <div class="cz_over">提交成功</div>
                    <div>我们的工作人员会尽快为您审核</div>
                    <div>审核成功后我们将会联系您</div>
                </div>                   
            </div>
        </div>
    </div>
</block>