<extend name="../Common/account_index" />

<block name="content">
    <div class="menu_bar_content">
        <div class="user_center_list">
            <div class="total">
                <p class="p_credits">
                    <span>积分：</span>
                    <b>{$credits_total}</b>
                </p>
            </div>
            <table cellspacing="0px">
                <tr class="list_head">
                    <th>时间</th>
                    <th>操作</th>
                    <th>得分</th>
                    <th>收入+/支出-</th>
                </tr> 
                <foreach name="credit_record_list" item="row">
                    <tr>
                        <td>{$row.created_date}</td>
                        <td>{$row.type}</td>
                        <td>{$row.score}</td>
                        <td>{$row.operation}</td>
                    </tr>
                </foreach>       
            </table>
        </div>
        <div class="page_container">
            <div class="page">{$pager}</div>
        </div>
        <div class="clear"></div>
    </div>
</block>