.credits_store  {
  margin-top: 20px;
}

.credits_store_left  {
  width:210px;
  float:left;
  font-size: 14px;
  margin-bottom: 38px;
  p{
    margin: 20px 0px 18px 10px;
  }
  li{
    margin: 0px 0px 25px 30px;
    display: block;
    width: 80%;
    height: 95px;
    div{
      margin:25px 10px 0px 1px;
      float: left;
      color: #ffffff;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius:20px;
      background-color: #FC6800;
    }
    img{
      margin: 10px 23px 0px 0px;
    }
    span{
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    a{
      text-decoration: none;
      color: #000000;
      &:hover{
        color: #ff0000;
      }
    }

  }
}


.credits_store_right{
  width:750px;
  float:left;
  margin-left: 15px;

  .news_credits{
    display:inline-block;

    img{
      width:750px;
      height:250px;
    }
  }
}

.userInfo{
  margin-bottom: 20px;
  width: 210px;
  height: 127px;
  font-size: 14px;
  padding-top: 40px;
  background: url(../img/user_info_bg.png) no-repeat;
  img{
    float: left;
  }
  a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    &:hover{
      color: #ff9936;
    }
  }
}

.user_info_left{
  float: left;
  width: 60px;
  margin: 0px 5px 0px 13px;
  img{
    margin-bottom: 16px;
    border-radius:5px;
  }
  a{
    display: block;
    width: 100%;
    text-align: center;
  }
}
.user_info_right{
  float: left;
  img{
    float: left;
    margin-top: 10px;
    margin-left: 3px;
  }
  a{
    display: block;
    float: left;
    margin:10px 0 0 5px;
    font-weight: bold;
  }
}


.reward{
  background-color: #fff;
  border-radius: 8px;
  border-bottom:3px solid #FF7342;

}
.layer{
  border:3px solid #FFA533;
  border-radius: 5px;
}


.integral_content{
  margin: 10px 0px 10px 8px;
  height: 98px;
  font-size: 11px;
  color: #6B5F5F;
  img{
    float: left;
    margin: 10px 10px 0px 0px;
  }
  span{
    float: left;
    width: 100px;
    margin: 25px 0px 3px 0px;
    color: #F04102;
    font-size: 16px;
    display: block;
    font-weight: bold;
  }
  label{
    float: left;
    color: #C9C9C9;
  }
}



.goods_list  {
  width:748px;
  border:1px solid #FFA533;
  margin-top:12px;
  margin-bottom: 38px;

  .goods{
    clear:both;
    div{
      float: left;
      width: 225px;
      height: 260px;
      border: 1px solid #ededed;
      margin-left: 16px;
      margin-top: 15px;
      text-align: center;
      margin-bottom: 10px;
      background:#faffff;

      img{
        width:190px;
        height:146px;
        margin-top:8px;
      }
      p{
        font-size: 12px;
        height: 35px;
        font-size:12px;
        text-align: left;
        margin:0px 18px;
      }
      span{
        display:block;
        float: left;
        font-size:12px;
        text-align: left;
        margin: 0 0 5px 16px;

        &.credits_price{
          margin-top:5px;
          height:18px;
          width: 90px;
          display: block;
          float: left;
          background:url('../img/dollar.png') 0 0 no-repeat;
          b{
            margin-left:25px;
            line-height: 18px;
            color:#FE6F29;
          }
        }

        &.goods_left{
          color:#999;
          font-weight: bold;
          margin-top:3px;
          width: 90%;

          a{
            display:inline-block;
            float: right;
            margin-right: 20px;
            width:46px;
            height:21px;
            border:1px solid #669FBD;
            color:#669FBD;
            text-align: center;
            line-height: 21px;
            text-decoration: none;

            &:hover{
              color:#FE6F29;
              border:1px solid #FE6F29;
              background:#fff;
            }
          }
        }
      }
    }
  }
}


.single_goods  {
  font-size: 14px;
}

.show_product{
  margin: 13px 20px 30px 20px;
  width: 708px;
  height: 320px;
  img{
    float: left;
    border: 1px solid #999999;
    margin-right: 30px;
  }
  b{
    padding-top: 20px;
    display: block;
    font-size: 18px;
    height: 70px;
  }
  p{
    margin-bottom: 20px;
    label{
      color: #FC6800;
      font-weight: bold;
    }
  }
  button{
    cursor:pointer;
    font-size: 16px;
    clear: both;
    width: 181px;
    height: 55px;
    border-radius:10px;
    text-align: center;
    color: #ffffff;
    border: none;
    background:url(../img/btn.png);
  }
}
.but_p{
  margin: 20px 120px 20px 0px;
  float: left;
  background-color: #A1CC24;
  border-radius:5px;
  text-align: center;
  width: 110px;
  height: 30px;
  color: #ffffff;
  line-height: 30px;
}

.goods_details{
  width: 708px;
  margin: 0px 30px 0px 20px;
  min-height: 414px;
}
.details_top{
  padding-right: 5px;
  font-size: 16px;
  color: #FF7727;
  font-family: oblique;
  width: 99%;
  height: 30px;
  line-height: 40px;
  border-bottom:3px solid #FF7727;
  text-align: right;

}
.details_top_left{
  float: left;
  width: 35%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  color: #ffffff;
  background-color:#FF7727;
}

.goods_details_info{
  width:673px;
  min-height:336px;
  margin-bottom:30px;
  border:1px solid #FF7727;
  border-top:0;
  padding:15px;
}

.center_content{
  width: 748px;
  min-height: 530px;
  background-color: #EDEDED;
}
h3{
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.finish_title{
  font-weight: bold;
  padding-top: 200px;
  text-align: center;
}
.p_content{
  padding-top: 20px;
  text-align: center;
  margin-left: 40px;
  color: #ff0000;
}


.unlogin{
  img{
    margin: 10px 8px 0px 40px;
  }
  a{

    display: block;
    width: 80px;
    float: left;
    color:#64BBE4; 
    font-weight: bold;
    margin: 40px 0px 0px 8px;
  }
}

.singer_r_r{
  a{
    margin-top: 25px;
  }
}
#week_day{
  margin-top: 10px;
}
