html body{
  background-color: #fff;
  background:none;
}
.footer_container{
  background: #fff;
  border-top:none;
}
.top_bar{
  margin-top: 25px;
}
a{
  color:#06c;
  text-decoration: none;
  &:hover{
    text-decoration:underline;
    color:#f90;
    
  }
}
.login_box  {
  height:450px;
  padding-top:50px;
}

.login_banner  {
  margin:20px 50px 25px 10px;
  width:430px;
  /*height:303px;*/
  float:left;
}

.login_form_container  {
  width:320px;
  margin:25px 0 0 80px;
  float:left;
  border-top:1px dashed #779830;
  border-bottom:1px dashed #779830;
  padding:12px 8px 20px;
}

.title_bar  {
  width:100%;
  img{
    text-align: center;
  }
}
.error_input{
  margin: 3px 0px;
}
.input_field .form_info{
  width: 28px;
}

.input_block{
  width: 205px;
  padding-left: 33px;
  height: 28px; 
  margin-bottom: 0px;
  border: none;
}

.input_field{
   input[type='text']{
     @extend .input_block;
     background: url(../img/input_text.png) no-repeat 0px -2px;
   }
   input[type='password']{
     @extend .input_block;
     background: url(../img/inupt_pass.png) no-repeat 0px -2px;
   }
}

.operation{
  padding-left: 43px;
  font-size: 12px;
  width:252px; 
}

#register_href, #pwd_find_href  {
    display: block;
    color: #000;
    float: right;
    margin-left: 25px;
    text-decoration: none;
    width:60px;
    &:hover{
      color: #FF9936;
    }
}

#login_bottom  {
  a  {
    color:#666;

    &:hover {
      color:#FF9933;
    }
  }
}
.third_logo{
  ul{ 
    display: block;
    width:150px;
    height: 55px;
    padding-left: 2px;
    float: left; 
    li{
      margin-top: 26px;
      float:left;
      width:55px;
      font-size:12px;
      line-height:16px;
      padding-left:18px;
      &.ali_logo{
        background: url(../img/ali_logo.png) no-repeat;
      }
      &.wx_logo{
        background: url(../img/wx_logo.png) no-repeat;
      }
      &.qq_logo{
        margin-left:-5px;
        background:url(../img/qq_logo.png) no-repeat;
      }
    }
  }
  button{
    width: 163px;
    height: 38px;
    margin: 18px 0 0 0px;
    border: none;
    font-size: 18px;
    color: #fff;
    background: url(../img/login_btn.png) no-repeat;
  }
}