.requirement_info{
  padding-left:50px;
  width: 70%;

  h3{
    text-align:center;
    margin-top:40px;
    margin-bottom: 20px;
  }
  .game_operator{
    display:none;
  }
}

label.error {
  font-size: 12px;
  background: url("../img/wrong.png") no-repeat 0px 0px;
  display: inline-block;
  padding-left: 20px;
  width: 320px;
  height: 20px;
  color: red;
}

label.success {
  font-size: 12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../img/right.png") no-repeat 0px 0px;
  position: relative;
  top: 10px;
}
.details {
  margin: 0 auto;
  width: 980px;
  height: 500px;
}

.content .clear {
  clear: both;
}
.requirement_container{
  margin-top:30px;
  margin-bottom: 30px;
  border:1px solid #ccc;
}

#slideboxContainer {
  margin-left: 280px;
}
.details_content{
  p{
   font-size: 12px;
   width: 100%;
   height: 32px;
   line-height: 32px;
   label{
    display: inline-block;
    color: #999;
    width: 85px;
    text-align: right;
   }
  }
}
.un_paid_text{
  color: #ccc;
  margin-right:8px;
}

.link{
  text-decoration: none;
  color: #f00;
}

.state_pic  {
  position: relative;
  float:right;
  display:block;
  width:57px;
  height:107px;
  background: url(../img/state_pic.png) no-repeat 0 0;

  p  {
    margin:auto;
    margin-top:10px;
    width:16px;
    font-size:20px;
    color:#fff;
    font-weight: bold;
  }
}

