<extend name="../Common/admin_base" />

<block name="extra_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Chosen/chosen.min.css">
</block>

<block name="extra_js">
    <script src="__PUBLIC__/js/admin/game.js"></script>
    <script src="__PUBLIC__/js/Plugin/Chosen/chosen.jquery.min.js"></script>
    <script type="text/javascript">
    $().ready(function(){
    	$("#selected").chosen({no_results_text: "游戏列表中不存在"});
    });
  </script>
</block>

<block name="content">
<div class="content_container">
	<div class="content">
		<div class="game_strategy_container">
			<div class="form_container">
				<form action="{:U('Admin/GroupBuyCz/gb_insert')}" method="post" class="common_form container" id="groupBuyCzAdd">
					<p>新上架云购</p>
					<li class="required">
						<label>游戏名字：</label>
						<select name="game_id" data-placeholder="请选择游戏" class="chosen-select"  id="selected" tabindex="2" style="width:212px;">
							<option value=""></option>
							<foreach name="gameRes" item="gameRes">
							<option value="{$gameRes.id}">{$gameRes.name}</option>
							</foreach>
						</select>
					</li>
					<li class="required">
						<label>面额（数值）</label>
						<input type="text" name="option" />
					</li>
					<li class="required">
						<label>最多购买次数</label>
						<input type="text" name="max" />
					</li>
					<li class="required">
						<label>有效天数</label>
						<input type="text" name="day" />
					</li>
					<li class="required">
						<label>价钱</label>
						<input type="text" name="price" />
					</li>
					<li>
                        <button type="submit">添加</button>
                        <button type="reset">取消</button>
                    </li>
				</form>
			</div>
		</div>
	</div>
</div>
</block>

<block name="footer">
<div class="footer">
	<p>广州鸿鹄网络科技有限公司</p>
</div>
</block>