<extend name="../Common/admin_base" />

<block name="content">
<div class="content_container">
	<div class="content">
		<div class="game_list_container">
			<div class="table_bar">
				<a class="a_style_button" href="{:U('Admin/GroupBuyCz/gb_insert')}">添加云购产品</a>
				<a class="a_style_button" href="{:U('Admin/GroupBuyCz/fake_list')}">中奖者列表</a>
				<div class="search_box_container">
					<div class="search_box">
						<form action="{:U('Admin/GroupBuyCz/index')}" method="get">
							<input type="text" name="keywords" placeholder="输入要搜索的游戏名关键字"
								value="{$keyword}">
							<button type="submit">搜索</button>
						</form>
					</div>
				</div>
			</div>

			<div class="table_container">
				<table class="data-table">
					<thead>
						<tr>
							<th>ID</th>
							<th>游戏</th>
							<th>面额</th>
							<th>游戏币</th>
							<th>价钱</th>
                            <th>已买数</th>
							<th>最多购买数</th>
							<th>有效时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<foreach name="GroupBuyCzList" item="itemInfo">
						<tr>
							<td>{$itemInfo.id}</td>
							<td>{$itemInfo.name}</td>
							<td>{$itemInfo.option_text}</td>
							<td>{$itemInfo.currency_name}</td>
							<td>{$itemInfo.price}</td>
                            <td>{$itemInfo.buy_num}</td>
							<td>{$itemInfo.max_time}</td>
							<td>{$itemInfo.dued_date}</td>
							<td>
								<a href="{:U('Admin/GroupBuyCz/gb_del', array('id'=>$itemInfo['id']))}"
									onclick="return confirm('确定删除吗?');">删除</a>
                                &nbsp;&nbsp;
								<if condition="$itemInfo['active'] eq 0">
									<a href="{:U('Admin/GroupBuyCz/details', array('id'=>$itemInfo['id']))}">详情</a>
								</if>

							</td>
						</tr>
						</foreach>
					</tbody>
				</table>
				<div class="page">{$show}</div>
			</div>
		</div>

	</div>
</div>
</block>

<block name="footer">
<div class="footer">
	<p>广州鸿鹄网络科技有限公司</p>
</div>
</block>

<block name="extra_js"> <script type="text/javascript">

        function test3(url, gameId){
            $.post(url, { "game_id": gameId
            }).done(function(data) {
                alert(data['msg']);
                var rowId = "#row_" + gameId;
                $(rowId).hide();
            }).fail(function() {
            });
        }
    </script> </block>