.panel_default  {
  color: #333333;
 // background-color: #f5f5f5;

  h3  {
    width:120px;
   // background-color: #f5f5f5;
    border-bottom:2px solid #ddd;

    padding:10px;
    font-size: 16px;
  }
}

.panel_body  {
  padding:10px;
}