#game_strategy_evoluation_content{
    li{
      label{
        display: inline-block;
        width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
}