<extend name="../Common/group_buy_base" />

<block name="custom_css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/group_buy.css">
</block>
<block name="extra_js">
    <script>
        $(document).ready(function(){
            var scrtime;
            $('.goods_lucky').hover(function(){
                clearInterval(scrtime);
            },function(){
                scrtime = setInterval(function(){
                    var ul = $(".goods_lucky ul");
                    var liHeight = ul.find("li:last").height();
                    ul.animate({marginTop : liHeight-20 +"px"},500,function(){
                    ul.find("li:first").appendTo(ul)
                    ul.find("li:last").hide();
                    ul.css({marginTop:0});
                    ul.find("li:last").fadeIn(500);
                });           
                },1500);
            }).trigger('mouseleave');
        });
    </script>
</block>

<block name="content">
    <div class="row_container">
        <div class="goods_menu">
            <li><a href="{:U('Home/GroupBuy/cz_package_all')}">手游团购</a></li>
            <li><a href="{:U('Home/GroupBuy/show_all')}">一元购</a></li>
            <li><a href="{:U('Home/CreditsStore/index')}" target="_blank">积分商城</a></li>
        </div>

        <div class="goods_img">
            <img src="__PUBLIC__/img/gb_index.jpg" alt="团购专区" />
        </div>

        <div class="goods_lucky">
            <div class="lucky_title">
                一元购幸运用户
            </div>
            <ul>                
                <foreach name="lucky_list" item="row" >
                    <li>
                    <span>{$row.name}</span>&nbsp; 云购<b>{$row.times}</b>人次</li>
                </foreach>

                <foreach name="fake_list" item="row">
                    <li>
                        <span>{$row.account}</span>&nbsp; 云购<b>{$row.num}</b>人次
                    </li>
                </foreach>
            </ul>
        </div>

        <h3>最新一元云购</h3>
        <div class="one_buy">
            <foreach name="group_buy" item="row">
                <div class="one_buy_list">
                    <a href="{:U('GroupBuyCz/buy', array('id'=>$row['id']))}">
                        <img src="/game_pic/{$row.pic}" alt="{$row.game_name}" />
                    </a>
                    <span>{$row.option_text}</span><br>
                    <del>价值{$row.price}元</del><b>￥1.00元</b><br>
                    <a class="buy_btn" href="{:U('Home/GroupBuyCz/buy', array('id'=>$row['id']))}">
                    <if condition="$row['buy_number'] eq $row['price']">已经满员<else />立即云购</if></a>

                    <div class="progress_all">
                        <div style="width:{$row.precent}" class="progress"></div>
                    </div>
                    <div class="people">
                        <span class="people_buy">{$row.buy_number}<br><i>已参与</i></span>
                        <span class="people_all">{$row.price}<br><i>总需人次</i></span>
                        <span class="people_left">{$row.left_number}<br><i>剩余</i></span>
                    </div>
                </div>
            </foreach>
        </div>

        <h3>热门团购</h3>
        <div class="one_buy">
            <foreach name="cz_package" item="row">
                <div class="one_buy_list">
                    <a href="{:U('Home/IOSCZPackage/buy', array('id'=>$row['id']))}">
                        <img src="/game_pic/{$row.thumbnail_path}" alt="{$row.name}" />
                    </a>
                    <span>{$row.option_text}</span><br>
                    <del>价值{$row.real_price}元</del><b>￥{$row.price}.00元</b><br>
                    <div class="progress_all">
                        <div style="width:{$row.precent}" class="progress"></div>
                    </div>
                    <div class="people">
                        <span class="people_buy">{$row.buy_number}<br><i>已参与</i></span>
                        <span class="people_all">{$row.sum_number}<br><i>总需人次</i></span>
                        <span class="people_left">{$row.left_number}<br><i>剩余</i></span>
                    </div>
                    <if condition="$row['precent'] lt 100 ">
                        <a class="buy_btn" href="{:U('IOSCZPackage/buy', array('id'=>$row['id']))}">立即组团购买</a>
                    <else/>
                        <a class="buy_btn" href="javascript:void(0)" style="background-color: #bbbbbb;">已完成团购</a>

                    </if>
                </div>
            </foreach>
        </div>

        <h3>最新兑换</h3>
        <div class="credits_goods">
            <div class="goods">
                <foreach name="goods_list" item="goods">
                    <div class="goods_message">
                        <a href="{:U('Home/CreditsStore/goods_info', array('id'=>$goods['id']))}"><img src="__PUBLIC__/upload/goods_pic/{$goods.pic_name}" alt="{$goods.name}" /></a>
                        <p>{$goods.name}</p>
                        <span class="credits_price del_line"><b>{$goods.credits}</b></span>
                        <notempty name="goods.discount_credits">
                            <span class="credits_price"><b>{$goods.discount_credits}</b></span>
                        </notempty>
                        <span class="clear"></span>
                        <span class="goods_left">剩余：{$goods.remaining}个 <a href="{:U('CreditsStore/goods_info', array('id'=>$goods['id']))}">兑换</a></span>
                    </div>
                </foreach> 
            </div>
        </div>
    </div>
</block>