<extend name="../Common/home_base" />

<block name="content">
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>购买成功</span>
                <div class="alert_text"> 
                    感谢您参加一元购活动，您的&nbsp;<strong>订单号&nbsp;{$rowOrder.orderId}&nbsp;</strong>，结果将会在参加人数满额后公布，中奖后会以短信方式通知您，祝您好运！
                </div>
            </div>

            <div class="pay_finish_info">
                <h3>一元购</h3>
                <p>
                    <label class="finish_key">订单号：</label>
                    <label class="finish_value">{$rowOrder.orderId}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$rowOrder.game}</label>
                </p>
                <p>
                    <label class="finish_key">面 &nbsp;&nbsp; 额：</label>
                    <label class="finish_value">{$rowOrder.option_text}</label>
                </p>
                <p>
                    <label class="finish_key">数 &nbsp;&nbsp; 量：</label>
                    <label class="finish_value">{$rowOrder.payment}</label>
                </p>
            </div>
        </div>
    </div>
</block>