<extend name="../Common/home_base" />

<block name="extra_js">
    <script type="text/javascript">
        $().ready(function(){
            $('.btn_close').click(function(){
                $('.alert_container').css('display','none');
            });
            sleepBtn();
        });
        function sleepBtn(){
            var time = 3;
            var interval = setInterval(function(){
                --time;
                if(time > 0){
                    $('.btn_close').text('我知道了（'+time+'）');
                }
                if(time <= 0){
                    $('.btn_close').css('opacity','1').removeAttr('disabled').text('我知道了');
                    clearInterval(interval);
                }
            },1000);
        }
    </script>
</block>
<block name="content">
    <div class="alert_container">
        <div class="alert_content">
            <div class="alert_msg">
                <div>亲，请先不要登录游戏哦！</div>
                <span>关注公众号:honghonghu88,</span>
                <span>查询订单状态，最新优惠信息！</span>
                <br>
                <p class="input_field">
                <button class="btn_close" type="submit" disabled>我知道了（3）</button></p>
            </div>
            
        </div>
    </div>
    <div class="row_container">
        <div class="finish_page">
            <div class="pay_finish">
                <span>提交成功</span>
                <p>客服人员正在处理订单,请耐心等待&nbsp;!</p>
                <div class="alert_text">若10分钟内未收到通知，可凭<strong>&nbsp;订单号&nbsp;{$orderRes.orderId}&nbsp;</strong>咨询客服！<br><b>充值期间请不要登录游戏！</b>
                </div>
            </div>

            <div class="recommend_buy">
                <ul>
                    <a href="{:U('Home/User/info')}">
                        <li class="recommend_user">
                           个人中心
                        </li>
                    </a>

                    <a href="{:U('Home/CreditsStore/index')}">
                        <li class="recommend_credits">
                            积分商城
                        </li>
                    </a>

                    <a href="{:U('Home/GroupBuy/index')}">
                        <li class="recommend_group">
                           团 &nbsp;&nbsp;&nbsp;&nbsp; 购
                        </li>
                    </a>
                    <li class="finish_goods">
                        
                    </li>
                </ul>
            </div>

            <div class="pay_finish_info">
                <h3>云购充值</h3>
                <p>
                    <label class="finish_key"></label>
                    <label class="finish_value"></label>
                </p>
                <p>
                    <label class="finish_key">云购订单号：</label>
                    <label class="finish_value">{$orderRes.orderId}</label>
                </p>
                <p>
                    <label class="finish_key">游 &nbsp;&nbsp; 戏：</label>
                    <label class="finish_value">{$orderRes.game}</label>
                </p>
                <p>
                    <label class="finish_key">充值面额：</label>
                    <label class="finish_value" >{$orderRes.option_text}</label>
                </p>
            </div>

            <div class="finish_line"></div>
        </div>
    </div>
</block>

