<extend name="../Common/admin_base" />

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="cz_order_ios">
                <li class="static_field">
                    <label class="form_key">订单号：</label>
                    <label class="from_value">{$order_info.id}</label>
                </li>

                <li class="static_field">
                    <label class="form_key">付款时间：</label>
                    <label class="from_value">{$order_info.pay_time}</label>
                </li>

                <li class="static_field">
                    <label class="form_key">交易号：</label>
                    <label class="from_value">{$order_info.id_no}</label>
                </li>

                <li class="static_field">
                    <label class="form_key">虎币数量：</label>
                    <label class="from_value">{$order_info.coins}</label>
                </li>

                <li class="static_field">
                    <label class="form_key">付款方式：</label>
                    <label class="from_value">{$order_info.pay_way}</label>
                </li>
            </div>
        </div>
    </div>
</block>