<extend name="../Common/home_base" />

<block name="custom_css">
    <link rel="stylesheet" href="__PUBLIC__/css/strategy_evoluation.css" />
</block>


<block name="content">
    <div class="row_container">
        <div class="center_content strategy_evoluation_search_list">
            <div class="inline_div search_game_info">
                <img src="/game_pic/{$gameInfo.pic}" width="160" height="160" />
                <p>【{$gameInfo.name}】</p>
            </div>
            <div class="inline_div">
                <ul class="search_list_ul">
                    <foreach name="searchList" item="list">
                        <li>
                            <a href="{:U('Evoluation/index',array('evoluationId'=>$list['id']))}">【资&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讯】{$list.title}</a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</block>