<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_keyword}">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/user.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/Plugin/jqueryForm/jQuery_Validation.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/global_checker.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common/forget_pwd_common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/module/forget_pwd.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common/step_bar.js"></script>
    <script type="text/javascript">
        function change(){
            var obj = document.getElementById('vcode');
            obj.src="__CONTROLLER__/vcode?a="+Math.random();
        }
    </script>

    <block name="extra_js"></block>
    <block name="extra_css"></block>

</head>

<body>
<div class="row_container">
    <div class="top_bar">
        <div class="logo_bar">
            <a href="{:U('/')}">
                <img src="__PUBLIC__/img/logo.png">
            </a>
        </div>
    </div>
</div>
<div class="row_container">
    <div class="top_bar">
        <div class="flowstep">
            <ol class="flowstep-5" id="flowstep_container">
                <li class="step-first">
                    <div class="step-done">
                        <div class="step-name">开始</div>
                        <div class="step-no"></div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="step-name">填写账号名</div>
                        <div class="step-no">1</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="step-name">验证身份</div>
                        <div class="step-no">2</div>
                    </div>
                </li>
                <li>
                    <div>
                        <div class="step-name">设置新密码</div>
                        <div class="step-no">3</div>
                    </div>
                </li>
                <li class="step-last">
                    <div>
                        <div class="step-name">完成</div>
                        <div class="step-no">4</div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>

<block name="reg_container"></block>
<include file="FooterBar/index"/>
</body>

