<extend name="../Common/admin_base" />

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="cz_order_ios">
                <div class="table_bar">
                    <div class="search_box_container">
                        <div class="search_box">
                            <form action="{:U('Admin/GroupBuyCzOrder/order_list')}" method="get">
                                <input type="text" placeholder="游戏关键字或订单号或交易号" name="keywords" value="{$keyword}">
                                <button type="submit">搜索</button>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="table_container">
                    <table class="data-table">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>游戏</th>
                            <th>标题</th>
                            <th>价钱</th>
                            <th>购买数量</th>
                            <th>付款方式</th>
                            <th>买家</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="orderRes" id="list">
                            <tr>
                                <td>{$list.id}</td>
                                <td>{$list.name}</td>
                                <td>{$list.option_text}</td>
                                <td>{$list.price}</td>
                                <td>{$list.real_payment}</td>
                                <td>{$list.pay_way}</td>
                                <td>{$list.username}</td>
                                <td>
                                    <a href="{:U('Admin/GroupBuyCzOrder/details',array('id'=>$list['id']))}">订单查看</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="page">{$show}</div>
                </div>
            </div>
        </div>
    </div>
</block>