<extend name="../Common/admin_base" />

<block name="extra_css">
    <link rel="stylesheet" href="__PUBLIC__/css/Chosen/chosen.min.css" />
</block>

<block name="extra_js">
    <script src="__PUBLIC__/js/Plugin/Chosen/chosen.jquery.min.js"></script>
    <script>
    $().ready(function(){
        $("#selected").chosen({no_results_text: "游戏列表中不存在"});
    });
    </script>
</block>

<block name="content">
    <div class="content_container">
        <div class="content">
            <div class="game_strategy_container">
                <form class="common_form container" action="{:U('Admin/Game/suggest_add')}" method="post">
                    <p>添加推荐游戏</p>
                    <li class="required">
                        <label>游戏名字</label>
                        <select name='game_id' data-placeholder="请选择游戏" class="chosen-select"  id="selected" tabindex="2" style="width:212px;">
                            <option value=''></option>
                            <volist name='game' id='vo'>
                                <option value="{$vo.id}">{$vo.name}</option>
                            </volist>
                        </select>
                    </li>

                    <li>
                        <button type="submit">添加</button>
                        <button type="reset">取消</button>
                    </li>
                </form>
            </div>
        </div>
    </div>
</block>