<table>
    <tr>
        <td>充值描述</td>
        <td>{order_cz_details}</td>
    </tr>
    <tr>
        <td>购买数量</td>
        <td>{order_bought_num}</td>
    </tr>
    <tr>
        <td>单价</td>
        <td>{order_price}</td>
    </tr>
    <tr>
        <td>价格</td>
        <td>{order_payment}</td>
    </tr>
    <tr>
        <td>支付方式</td>
        <td>{order_payway}</td>
    </tr>
    <tr>
        <td>订单号</td>
        <td>{order_id}</td>
    </tr>
    <tr>
        <td>游戏名称</td>
        <td>{order_game_name}</td>
    </tr>
    <tr>
        <td>买家游戏账户</td>
        <td>{order_ga}</td>
    </tr>
    <tr>
        <td>区服</td>
        <td>{order_ga_qufu}</td>
    </tr>

    <tr>
        <td>买家游戏密码</td>
        <td>{order_ga_password}</td>
    </tr>
    <tr>
        <td>角色名称</td>
        <td>{order_ga_role}</td>
    </tr>
    <tr>
        <td>联系方式</td>
        <td>{order_ga_contact_way}</td>
    </tr>
</table>