<table>
    <tr>
        <td>充值描述</td>
        <td>{option}</td>
    </tr>
    <tr>
        <td>购买数量</td>
        <td>{number}</td>
    </tr>
    <tr>
        <td>总价</td>
        <td>{payment}</td>
    </tr>
    <tr>
        <td>支付方式</td>
        <td>{payway}</td>
    </tr>
    <tr>
        <td>订单号</td>
        <td>{id}</td>
    </tr>
    <tr>
        <td>游戏名称</td>
        <td>{game_name}</td>
    </tr>
    <tr>
        <td>买家游戏账户</td>
        <td>{account}</td>
    </tr>
    <tr>
        <td>区服</td>
        <td>{qufu}</td>
    </tr>
    <tr>
        <td>买家游戏密码</td>
        <td>{password}</td>
    </tr>
    <tr>
        <td>角色名称</td>
        <td>{role}</td>
    </tr>
    <tr>
        <td>联系方式</td>
        <td>{contact_way}</td>
    </tr>
</table>